html {
    height: 100%;
}

body {
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
    background-image: url(../images/dark-honeycomb.png);
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.row {
    margin-top: 20px;
    padding-bottom: 10px;
    background-color: white;
}

.topBanner {
    height: 30%;
    width: 100%;
    padding: 20px;
    background-image: url('https://coverfiles.alphacoders.com/576/57611.jpg');
    background-size: cover;
    font-family: 'VT323', monospace;
}

.pageHeader {
    font-size: 30px;
    background-color: black;
    color: white;
    letter-spacing: .2rem;
}

.fa-sync-alt {
    color: black;
}

.scrape {
    color: black;
}

.newsHeader {
    font-family: 'Great Vibes', cursive;
    color: white;
    letter-spacing: .2rem;
}

.container {
    font-family: Verdana, Tahoma, sans-serif;
}

.scrape {
    float: right;
}

#savedArticles {
    float: right;
}

.picture {
    margin-top: 10px;
}

.btn {
    margin: 5px;
}

#removeComment {
    float: right;
   margin-top: 20px;
}

.clear {
    clear:both;
}

.modal {
    background-image: linear-gradient(to bottom left, #eeeeee, #ffffff)
}

.modal-text {
    text-align: center;
}